---
layout: index_temp
---
	 {% for post in site.posts %}
				<article>
						{% if post.show_type == "image" %}

						<div class="post-image">
							<div class="post-heading">
								<h3><a target="_blank" href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
							</div>
							<img src="{{site.baseurl}}{{post.show_intro}}" alt="{{post.show_intro}}" />
						</div>
 						
						{% elsif post.show_type == "slider" %}
						
						<div class="post-slider">
							<div class="post-heading">
								<h3><a target="_blank" href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
							</div>
							<!-- start flexslider -->
							<div id="post-slider" class="flexslider">
								<ul class="slides">
									{% assign words = post.show_intro | split:';' %}
  									{% for word in words %}
										<li>
										<img src="{{site.baseurl}}{{word}}" alt="{{post.intro}}" />
										</li>
									{% endfor %}
								</ul>
							</div>
							<!-- end flexslider -->
						</div>
						{% elsif post.show_type == "video" %}
						<div class="post-video">
							<div class="post-heading">
								<h3><a  target="_blank" href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></h3>
							</div>
							<div class="video-container">
								<iframe src="{{post.show_intro}}"></iframe>
							</div>
						</div>

  						{% else %}
						
						{% endif %}

						<p>
							 {{post.intro}}
						</p>

						<div class="bottom-article">
							<ul class="meta-post">
								{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
							    {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
							    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
							    {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
								<li><i class="icon-calendar"></i><a href="#">{{ post.date | date: "%Y-%m-%d" }}</a></li>
								<li><i class="icon-user"></i><a href="#"> {{post.author}}</a></li>
								<!-- <li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>
								<li><i class="icon-comments"></i><a href="#">4 Comments</a></li> -->
							</ul>
							<a href="{{site.baseurl}}{{ post.url }}" target="_blank" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
						</div>
				</article>
				 {% endfor %}
<!-- 			<div id="pagination">
					<span class="all">Page {{paginator.page}} of {{paginator.total_posts}}</span>
					<span class="current">1</span>
					<a href="#" class="inactive">2</a>
					<a href="#" class="inactive">3</a>
				</div>
 -->

			