<link href="res/css/bootstrap.min.css" rel="stylesheet" />
<link href="res/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="res/css/jcarousel.css" rel="stylesheet" />
<link href="res/css/flexslider.css" rel="stylesheet" />
<link href="res/css/style.css" rel="stylesheet" />
<!-- Theme skin -->
<link href="res/skins/default.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->