<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">联系我们</h5>
					<address>
					<strong>JS开发库</strong><br>
					 由一群热爱技术的年轻人创建。<br>
					  </address>
					<p>
						<i class="icon-phone"></i> QQ群 364778978 <br>
						<i class="icon-envelope-alt"></i> service@js-ku.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Pages</h5>
					<ul class="link-list">
						<li><a href="#">Press release</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career center</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">友情链接</h5>
					<ul class="link-list">
						<li><a href="http://j-ui.com" target="_blank">富客户端框架-jUI</a></li>
						<li><a href="http://www.qeo.cn/31/" target="_blank">网络工程师培训</a></li>
						<li><a href="http://www.lingjianfeng.com/" target="_blank">Cocos2d-JS 教程</a></li>
					</ul>
				</div>
			</div>
<!-- 			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Flickr photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>
					<div class="clear">
					</div>
				</div>
			</div> -->
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Collaborators</h5>
						<div class="flickr_badge" id="authors_div">
							
					   
					    
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Js-ku 2014 All right reserved. By </span><a href="https://github.com/Da-Li/js-ku" target="_blank">GitHub</a>
						</p>
					</div>
				</div>
				 <div class="col-lg-6">
					<ul class="social-network">
						<li><a href="https://github.com/Da-Li/js-ku" target="_blank" data-placement="top" title="GitHub"><i class="fa fa-github"></i></a></li>
<!-- 						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
