<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{site.indet_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{site.indet_title}}" />
<meta name="keywords" content="{{site.index_keywords}}">
<meta name="author" content="{{site.index_author}}" />
<link rel="icon" href="/favicon.ico">
{% include css.html%}

</head>
<body>
<div id="wrapper">
	<!-- start header -->
	{% include header.html%}
	<!-- end header -->
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				 {{content}}
			</div>
				{% include right.html%}
		</div>
	</div>
	</section>
	{% include footer.html%}
	
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include script.html%}
</body>
</html>